In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/ayemaq/Desktop/Quick EDA/2020_Neighborhood_Tabulation_Areas_(NTAs)_20260208.csv')

In [5]:
df.head()

,BoroCode,BoroName,CountyFIPS,NTA2020,NTAName,NTAAbbrev,NTAType,CDTA2020,CDTAName,Shape_Length,Shape_Area,the_geom
0,3,Brooklyn,47,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),"28,919.5611508","35,321,808.3909",MULTIPOLYGON (((-73.9321339742769 40.728159603...
1,3,Brooklyn,47,BK0102,Williamsburg,Wllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),"28,134.0826611","28,852,852.9133",MULTIPOLYGON (((-73.95814292411644 40.72440428...
2,3,Brooklyn,47,BK0103,South Williamsburg,SWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),"18,250.2800908","15,208,960.645",MULTIPOLYGON (((-73.95023693669857 40.70547324...
3,3,Brooklyn,47,BK0104,East Williamsburg,EWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),"43,184.8003755","52,267,406.735",MULTIPOLYGON (((-73.92405909659959 40.71411155...
4,3,Brooklyn,47,BK0201,Brooklyn Heights,BkHts,0,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,"14,312.1922849","9,982,022.78755",MULTIPOLYGON (((-73.9923636691119 40.689690123...

### columns ill be needing
- nta_id (TEXT)
- nta_name (TEXT)
- cdta_id (TEXT)
- boro_code (INT)
- boro_name (TEXT)
- the_geom_wkt (TEXT)

In [6]:
df.isnull().sum()

BoroCode        0
BoroName        0
CountyFIPS      0
NTA2020         0
NTAName         0
NTAAbbrev       0
NTAType         0
CDTA2020        0
CDTAName        0
Shape_Length    0
Shape_Area      0
the_geom        0
dtype: int64

In [8]:
# check to see if there are any duplicates
df.duplicated().sum()

0

In [9]:
df['NTA2020'] = df['NTA2020'].str.strip()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BoroCode      262 non-null    int64
 1   BoroName      262 non-null    object
 2   CountyFIPS    262 non-null    int64
 3   NTA2020       262 non-null    object
 4   NTAName       262 non-null    object
 5   NTAAbbrev     262 non-null    object
 6   NTAType       262 non-null    int64
 7   CDTA2020      262 non-null    object
 8   CDTAName      262 non-null    object
 9   Shape_Length  262 non-null    object
 10  Shape_Area    262 non-null    object
 11  the_geom      262 non-null    object
dtypes: int64(3), object(9)
memory usage: 24.7+ KB

In [13]:
# check if the NTA2020 column has unique values
df['NTA2020'].nunique()

262

In [14]:
df.keys()

Index(['BoroCode', 'BoroName', 'CountyFIPS', 'NTA2020', 'NTAName', 'NTAAbbrev',
       'NTAType', 'CDTA2020', 'CDTAName', 'Shape_Length', 'Shape_Area',
       'the_geom'],
      dtype='object')

In [16]:
df['BoroCode'].value_counts()

BoroCode
4    82
3    69
2    50
1    38
5    23
Name: count, dtype: int64

In [22]:
# What are the unique borough code/name pairs in this dataset
df[['BoroCode', 'BoroName']].drop_duplicates().sort_values('BoroCode')

     BoroCode       BoroName
118         1      Manhattan
69          2          Bronx
0           3       Brooklyn
156         4         Queens
239         5  Staten Island

In [ ]:
df['CDTA2020'].nunique()

71

In [20]:
df[['CDTA2020', 'CDTAName']].drop_duplicates().head(10)

   CDTA2020                                           CDTAName
0      BK01     BK01 Williamsburg-Greenpoint (CD 1 Equivalent)
4      BK02  BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...
9      BK03       BK03 Bedford-Stuyvesant (CD 3 Approximation)
11     BK04                    BK04 Bushwick (CD 4 Equivalent)
14     BK05  BK05 East New York-Cypress Hills (CD 5 Approxi...
20     BK06  BK06 Park Slope-Carroll Gardens (CD 6 Approxim...
22     BK07  BK07 Sunset Park-Windsor Terrace (CD 7 Approxi...
26     BK08    BK08 Crown Heights (North) (CD 8 Approximation)
29     BK09    BK09 Crown Heights (South) (CD 9 Approximation)
31     BK10  BK10 Bay Ridge-Dyker Heights (CD 10 Approximat...

In [23]:
df['the_geom'].isna().sum()

0

In [24]:
(df['the_geom'].astype(str).str.len() == 0).sum()

0

In [27]:
type(df['the_geom'].iloc[0])

str

In [28]:
df = df.rename(columns={'the_geom': 'the_geom_wkt'})

In [29]:
df = df.rename(columns={'NTA2020': 'nta_id'})

In [30]:
dim_map = df[
    [
        'nta_id',
        'NTAName',
        'CDTA2020',
        'CDTAName',
        'BoroCode',
        'BoroName',
        'the_geom_wkt'
    ]
].copy()

In [31]:
dim_map = dim_map.rename(columns={
    'NTAName': 'nta_name',
    'CDTA2020': 'cdta_id',
    'CDTAName': 'cdta_name',
    'BoroCode': 'boro_code',
    'BoroName': 'boro_name'
})

In [32]:
dim_map.columns

Index(['nta_id', 'nta_name', 'cdta_id', 'cdta_name', 'boro_code', 'boro_name',
       'the_geom_wkt'],
      dtype='object')

In [33]:
dim_map.to_csv('dim_map.csv', index=False)